<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.fuin.org/dsl/cqrs/CqrsDsl"
			class = "org.fuin.dsl.cqrs.cqrsDsl.CqrsDslPackage"
			genModel = "model/generated/CqrsDsl.genmodel" />
	</extension>
</plugin>
